{% extends "pages/theme/details.html" %}
{% load my_tags %}

{% block hotel_menu_content %}

<div class="row">
    <div class="col-md-8">
        <h3>Font Styles </h3> 
    </div>
</div>
<form method="GET" action="{% url 'font_styles' theme.id %}" >
    <div class="row form-inline">
        <div class="col-md-10">
            <hr>  
            <input type="text" class="form-control" autofocus id="search_text" name="search_text" >
            <button type="submit" class="btn btn-primary form-control"><i class="fas fa-search"></i> Search</button>
            <a class="btn btn-primary float-right" href="{% url 'font_style_add' theme.id  %}"><i class="fas fa-plus"></i> Add</a>
            <hr>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <th>Name </th>
                <th>Font Name</th>
                <th>Font Size</th>
                <th>Font Color</th>
                <th>Shadow Color</th>
                <th>Shadow Offset</th>
                <th>Shadow Radius</th>
                <th>Shadow Opacity</th>
                <th>Langauge Code</th>
                <th>Attributes</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for font_style in font_styles %}
                    <tr>
                        <td>{{font_style.font_style_name}}</td>
                        <td>{{font_style.font_name}}</td>
                        <td>{{font_style.font_size}}</td>
                        <td>{{font_style.font_color}}</td>
                        <td>{{font_style.shadow_color}}</td>
                        <td>{{font_style.shadow_offset}}</td>
                        <td>{{font_style.shadow_radius}}</td>
                        <td>{{font_style.shadow_opacity}}</td>
                        <td>{{font_style.lang_code}}</td>
                        <td>{{font_style.attributes}}</td>
                        <td><a href="{% url 'font_style_edit' theme.id font_style.id %}">Edit</a></td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>

        {% if font_styles.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if font_styles.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">First</a></li>
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=font_styles.previous_page_number %}">Previous</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">
                    Page {{ font_styles.number }} of {{ font_styles.paginator.num_pages }}.
                </a></li>
                {% if font_styles.has_next %}
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=font_styles.next_page_number %}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=font_styles.paginator.num_pages %}">Last</a></li>
                {% endif %}
            
                </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock hotel_menu_content %}    