{% extends "pages/theme/details.html" %}
{% load my_tags %}

{% block hotel_menu_content %}


<div class="row">
    <div class="col-md-8">
        <h3>Font Style Mappings </h3> 
    </div>
</div>
<form method="GET" action="{% url 'font_style_mappings' theme.id %}" >
    <div class="row form-inline">
        <div class="col-md-10">
            <hr>  
            <input type="text" class="form-control" autofocus id="search_text" name="search_text" >
            <button type="submit" class="btn btn-primary form-control"><i class="fas fa-search"></i> Search</button>
            <a class="btn btn-primary float-right" href="{% url 'font_style_mapping_add' theme.id  %}"><i class="fas fa-plus"></i> Add</a>
            <hr>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-8">
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <th>Name </th>
                <th>Module Name</th>
                <th>Apply On</th>
                <th>State</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for font_style_mapping in font_style_mappings %}
                    <tr>
                        <td>{{font_style_mapping.font_style_name}}</td>
                        <td>{{font_style_mapping.module_name}}</td>
                        <td>{{font_style_mapping.apply_on}}</td>
                        <td>{{font_style_mapping.state}}</td>
                        <td><a href="{% url 'font_style_mapping_edit' theme.id font_style_mapping.id %}">Edit</a></td>
                        
                    </tr>
                {% endfor %} 
            </tbody>
        </table>

        {% if font_style_mappings.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if font_style_mappings.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">First</a></li>
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=font_style_mappings.previous_page_number %}">Previous</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">
                    Page {{ font_style_mappings.number }} of {{ font_style_mappings.paginator.num_pages }}.
                </a></li>
                {% if font_style_mappings.has_next %}
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=font_style_mappings.next_page_number %}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=font_style_mappings.paginator.num_pages %}">Last</a></li>
                {% endif %}
            
                </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock hotel_menu_content %}    