{% load static i18n %}
<!-- The sidebar -->
<div class="sidebar nav navbar-nav">
  <a class="" href="{% url 'theme_home' %}"><i class="fas fa-arrow-left"></i> All Themes</a>
  <a class="{% if request.resolver_match.url_name == "setting_assets_list" %}active{% endif %}" href="{% url 'setting_assets_list' theme.id %}"><i class="fa fa-fw fa-user"></i> Assets</a>
  <a class="{% if request.resolver_match.url_name == "font_styles" %}active{% endif %}" href="{% url 'font_styles' theme.id %}"><i class="fa fa-fw fa-wrench"></i> Font Style</a>
  <a class="{% if request.resolver_match.url_name == "font_style_mappings" %}active{% endif %}" href="{% url 'font_style_mappings' theme.id %}"><i class="fa fa-fw fa-wrench"></i> Font Style Mapping</a>
  <a class="{% if request.resolver_match.url_name == "color_styles" %}active{% endif %}" href="{% url 'color_styles' theme.id %}"><i class="fa fa-fw fa-user"></i> Color Style</a>
  <a class="{% if request.resolver_match.url_name == "color_style_mappings" %}active{% endif %}" href="{% url 'color_style_mappings' theme.id %}"><i class="fa fa-fw fa-user"></i> Color Style mapping </a>
   {% comment %} <a href="{% url 'airlines' %}"><i class="fa fa-fw fa-user"></i> Airline Details</a> {% endcomment %}
  {% comment %}<a href="{% url 'fqdns' %}"><i class="fa fa-fw fa-user"></i> Airport Details</a>
  <a href="{% url 'fqdns' %}"><i class="fa fa-fw fa-user"></i> Time Zones</a>
  <a href="{% url 'fqdns' %}"><i class="fa fa-fw fa-user"></i> Currency Types</a>
  <a href="{% url 'fqdns' %}"><i class="fa fa-fw fa-user"></i> Weather Icons</a> {% endcomment %}
</div>
