{% extends "base.html" %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4 mt-5">
            <div class="path my-4 text-muted fs-5 bg-white p-2 d-inline-flex">  
                <div class="mx-1"><i class="fa-solid fa-lock me-1 fs-5"></i> Change Password</div>
            </div>
            <div class="mb-4 bg-white rounded-border">
                <div class="card-header rounded-border tickernav-color p-3 text-white">
                    <i class="fa-solid fa-key me-1"></i>
                    Change Password
                </div>
                <form id="" action="" class="" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <strong class="text-color">Old Password</strong>
                                <div class="form-group form-floating mb-3">
                                    {{ form.oldPassword }}
                                    <label for="primaryTickerMessage" class="text-muted">Enter Old Password</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <strong class="text-color">New Password</strong>
                                <div class="form-group form-floating mb-3">
                                    {{ form.newPassword }}
                                    <label for="primaryTickerMessage" class="text-muted">Enter New Password</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <strong class="text-color">Confirmation Password</strong>
                                <div class="form-group form-floating mb-3">
                                    {{ form.confirmPassword }}
                                    <label for="primaryTickerMessage" class="text-muted">Confirmation New Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-success">
                                    {% if msg == 'Invalid credentials' %}
                                        <div class="text-danger">{{msg}}</div>
                                    {% elif msg == 'Error validating the form' %}
                                        <div class="text-danger">{{msg}}</div>
                                    {% elif msg == 'Your password was successfully updated!' %}
                                        <div class="text-success">{{msg}}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex justify-content-end">
                                    <input type="submit" class="border-0 rounded text-white tickernav-color p-2" value="Set Password">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
<!-- <input type="password" value="FakePSW" id="oldPasswordd">
<input type="checkbox" onclick="myFunction()">Show Password
<script>
function myFunction() {
  var x = document.getElementById("oldPassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script> -->
{% endblock %}
