{% extends "base.html" %}
{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-3 mt-3">
            <div class="path my-4 text-muted fs-5 bg-white p-2 d-inline-flex">  
                <div class="mx-1"><i class="fa-solid fa-square-plus fs-5"></i> Create Ticker</div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="bg-white rounded-border">
                        <div class="card-header tickernav-color p-3 text-white">
                            <i class="fa-solid fa-sliders"></i>
                            Create Ticker
                        </div>

                        <form id="createTickerForm" action="" class="" method="POST" enctype="multipart/form-data">

                            {% csrf_token %}

                            <input type="hidden" id="runningTickerID" name="runningTickerID" value=-1>

                            <div class="d-lg-block d-md-block d-sm-block d-none" style="text-align:center;margin-top:40px;">
                                <span class="step"><strong class="text-white fs-6">Create</strong></span>
                                {% comment %} <span class="step"><i class="fa-solid fa-tv fs-3 m-2 text-white"></i><strong class="text-color">Preview</strong></span> {% endcomment %}
                                <span class="step"><strong class="text-white fs-6">Schedule</strong></span>
                                <!-- <span class="step"><i class="fa-solid fa-check-to-slot fs-3 m-2 text-white"></i><strong class="text-color">Success</strong></span> -->
                            </div>

                            <div class="tab m-3">

                                <strong class="text-color">Select Ticker Type</strong>

                                <select name="tickerSelecter" class="form-select mb-3 p-3" aria-label="Default select example" onchange="foselector(id);" id="tickerSelecter">
                                    <option class="text-color" value="">Select Ticker</option>
                                    <option class="text-color" value="scrolling">Scrolling Ticker</option>
                                    <option class="text-color" value="media">Media Ticker</option>
                                    {% if tickerObj.ticker_type == 'Media Ticker' %}
                                        <option class="text-color" selected value="{{tickerObj.ticker_type}}">{{tickerObj.ticker_type}}</option>
                                    {% endif %}
                                    <option class="text-color" value="emergency">Emergency Ticker</option>
                                </select>

                                <div id="scrolling">

                                    <strong class="text-color">Ticker Title</strong>
                                    <div class="form-group">
                                        <input class="form-control p-3" id="scrollingTickerTitle" placeholder="Enter Ticker Title (20 letters max.)"  type = "text" name="scrollingTickerTitle" value = "" maxlength = "20" />
                                        <!-- <label for="scrollingTickerTitle" class="text-muted text-color">Enter Ticker Title <small>(20 letters max.)</small></label> -->
                                    </div>
                                    <label class="text-danger" id="scrollingTickerTitleLabel">Please Enter Title</label>

                                    <div class="form-check form-switch mb-3 mt-3">
                                        <input class="form-check-input" name="primaryScrollingTicker" type="checkbox" value="enabled" id="primaryEnable" onclick="foenabler(this.id);">
                                        <strong class="form-check-label text-color" for="flexCheckDefault">
                                        Primary Scrolling Ticker
                                        </strong>
                                    </div>

                                        <div id="primary">
                                            <!-- <strong class="text-color">Enter Your Primary Ticker Message</strong> -->
                                            <div class="form-group">
                                                <input class="form-control p-3" id="primaryTickerMessage" placeholder="Type Message for Primary Ticker"  type = "text" name="primaryTickerMessage" value = ""/>
                                                <!-- <textarea name="primaryTickerMessage" class="form-control" id="primaryTickerMessage" rows="4" placeholder="Type Message for Primary Ticker" value=" "></textarea> -->
                                                <!-- <label for="primaryTickerMessage" class="text-muted">Type Message for Primary Ticker</label> -->
                                            </div>
                                            <label class="text-danger" id="primaryTickerMessageLabel">Please Enter Message</label>

                                            <div class="row mb-3 mt-3">
                                                <div class="col-md-4">
                                                    <div class="form-check mb-3">
                                                        <strong class="text-color" for="favcolor">Choose Font Color</strong><br>
                                                        <label for="favcolor" class="text-muted">Pick Font Color</label>
                                                        <input name="primaryFontColor" type="color" id="primaryFontColor" value="#54362A">
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-check mb-3">
                                                        <strong class="text-color" for="favcolor">Choose Background Color</strong><br>
                                                        <label for="favcolor" class="text-muted">Pick Background Color</label>
                                                        <input name="primaryBgColor" type="color" id="primaryBgColor" value="#DAD6BE">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <strong class="text-color">Font Style</strong>
                                                    <select name="primaryFontType" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in font_style %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <strong class="text-color">Font Size</strong>
                                                    <select name="primaryFontSize" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in font_size %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <strong class="text-color">Position BOX</strong>
                                                    <select name="primaryPositionBox" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in position %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <strong class="text-color">Speed</strong>
                                                    <select name="primaryTickerSpeed" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in speed %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-md-6">
                                                    <strong class="text-color">Ticker Motion</strong>
                                                    <select name="primaryTickerMotion" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in motion %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-xl-3 col-md-6 col-sm-6">
                                                    <div class="form-check form-switch mb-3">
                                                        <input name="primaryTickerLogoEnabler" class="form-check-input" type="checkbox" value="enabled" id="primaryLogoEnabler" onclick=fologoenabler(this.id)>
                                                        <strong class="form-check-label text-color" for="flexCheckDefault">
                                                            Set logo on Primary Ticker 
                                                        </strong>
                                                    </div>
                                                </div>

                                                <div class="col-xl-3 col-md-6 col-sm-6" id="primaryLogo">
                                                    <div class="form-group">
                                                        <strong class="text-color" for="exampleFormControlFile1">Upload Image Logo</strong>
                                                        <input name="primaryTickerLogo" type="file" accept=".png" id="primaryTickerLogo" class="form-control-file" onchange=Filevalidation(this.id)>
                                                    </div>
                                                    <label class="text-danger" id="primaryTickerLogoLabel">Please Upload Image Logo</label>
                                                </div>

                                                <div class="col-md-6" id="primaryLogoPosition">
                                                    <strong class="text-color">Logo Position</strong>
                                                    <select name="primaryTickerLogoPosition" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in logo_position %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input" name="secondaryScrollingEnable" type="checkbox" value="enabled" id="secondaryEnable" onclick="foenabler(this.id);">
                                            <strong class="form-check-label text-color" for="flexCheckDefault">
                                            Secondary Scrolling Ticker
                                            </strong>
                                        </div>

                                        <div id="secondary">
                                            <strong class="text-color">Enter Your Secondary Ticker Message</strong>
                                            <div class="form-group">
                                                <input class="form-control p-3" id="secondaryTickerMessage" placeholder="Type Message for Static Ticker"  type = "text" name="secondaryTickerMessage" value = ""/>
                                                <!-- <textarea name="secondaryTickerMessage" id="secondaryTickerMessage" class="form-control" rows="4" value=" " placeholder="Type Message for Static Ticker"></textarea> -->
                                                <!-- <label for="secondaryTickerMessage" class="text-muted">Type Message for Secondary Ticker</label> -->
                                            </div>
                                            <label class="text-danger" id="secondaryTickerMessageLabel">Please Enter Message</label>

                                            <div class="row mb-3 mt-3">
                                                <div class="col-md-4">
                                                    <div class="form-check mb-3">
                                                        <strong class="text-color" for="favcolor">Choose Font Color</strong><br>
                                                        <label for="favcolor" class="text-muted">Pick Font Color</label>
                                                        <input name="secondaryFontColor" type="color" id="secondaryFontColor" value="#DAD6BE">
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="form-check form-switch mb-3">
                                                        <strong class="text-color" for="favcolor">Choose Background Color</strong><br>
                                                        <label for="favcolor" class="text-muted">Pick Background Color</label>
                                                        <input name="secondaryBgColor" type="color" id="secondaryBgColor" value="#54362A">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-3">
                                                    <strong class="text-color">Font Style</strong>
                                                    <select name="secondaryFontType" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in font_style %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <strong class="text-color">Position BOX</strong>
                                                    <select name="secondaryPositionBox" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in position %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <strong class="text-color">Speed</strong>
                                                    <select name="secondaryTickerSpeed" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in speed %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <strong class="text-color">Ticker Motion</strong>
                                                    <select name="secondaryTickerMotion" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in motion %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <strong class="text-color">Ticker Duration</strong>
                                                <div class="form-group">
                                                    <input type="number" name="scrollingTickerTimeInterval" min="1" value="1"  required class="form-control p-3" id="scrollingTickerTimeInterval" placeholder="Enter Time Minutes" />
                                                    <!-- <label for="number" class="text-muted">Enter Time Minutes</label> -->
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <strong class="text-color">Set Priority</strong>
                                                <select name="scrollingTickerPriority" class="form-select p-3" onchange="foselector(id)" id="scrollingTickerPriority" aria-label="Default select example">
                                                    {% for items in priority %}
                                                    <option>{{items}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                </div>
                
                                <div id="media">
                                    <strong class="text-color">Ticker Title</strong>
                                    <div class="form-group">
                                        <input class="form-control p-3" id="mediaTickerTitle" rows="4" placeholder="Enter Ticker Title (20 letters max.)"  type = "text" name="mediaTickerTitle" value="" maxlength = "20" />
                                        <!-- <label for="mediaTickerTitle" class="text-muted">Enter Ticker Title <small>(20 letters max.)</small></label> -->
                                    </div>
                                    <label class="text-danger" id="mediaTickerTitleLabel">Please Enter Title</label>

                                    <div class="form-check form-switch mb-3 mt-3">
                                        <input class="form-check-input" name="staticTickerEnabler" type="checkbox" value="enabled" id="staticEnable" onclick="foenabler(this.id);">
                                        <strong class="form-check-label text-color" for="flexCheckDefault">
                                        Static Ticker
                                        </strong>
                                    </div>

                                    <div id="static">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <strong class="text-color" for="exampleFormControlFile1">Upload Image Logo</strong>
                                                    <input name="staticTickerLogo" type="file" accept=".png" id="staticTickerLogo" class="form-control-file" value="1" onchange=Filevalidation(this.id)>
                                                </div>
                                                <label class="text-danger" id="staticTickerLogoLabel">Upload Image Logo</label>
                                                <label class="text-danger" id="staticTickerLogoAcceptLabel">Only square image acceptable</label>
                                            </div>

                                            <div class="col-md-4">
                                                <strong class="text-color">Position BOX</strong>
                                                <select name="staticPositionBox" id="staticPositionBox" onchange=fopositionbox(this.id) class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                    {% for items in pos_box %}
                                                    <option>{{items}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-md-4" id="staticFontSize">
                                                <strong class="text-color">Size</strong>
                                                <select name="staticFontSize" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                    {% for items in font_size %}
                                                    <option>{{items}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div id="positionCenter">
                                            <strong class="text-color">Enter Your Static Ticker Message</strong>
                                            <div class="form-group">
                                                <input class="form-control p-3" id="staticTickerMessage" placeholder="Type Message for Static Ticker (15 letters max.)"  type = "text" name = "staticTickerMessage" value="" maxlength = "15" />
                                                <!-- <label for="staricTickerMessage" class="text-muted">Type Message for Static Ticker <small>(15 letters max.)</small></label> -->
                                            </div>
                                            <label class="text-danger" id="staticTickerMessageLabel">Please Enter Message</label>

                                            <div class="row mb-3 mt-3">
                                                <div class="col-md-4">
                                                    <strong class="text-color">Font Style</strong>
                                                    <select name="staticFontType" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                        {% for items in font_style %}
                                                        <option>{{items}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-check mb-3">
                                                        <strong class="text-color" for="favcolor">Choose Font Color</strong><br>
                                                        <label for="favcolor" class="text-muted">Pick Font Color</label>
                                                        <input name="staticFontColor" type="color" value="#54362A">
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-check mb-3">
                                                        <strong class="text-color" for="favcolor">Choose Background Color</strong><br>
                                                        <label for="favcolor" class="text-muted">Pick Background Color</label>
                                                        <input name="staticBgColor" type="color" value="#DAD6BE">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="positionNotCenter">
                                            <div class="col-md-4">
                                                <div class="form-check form-switch mb-3">
                                                    <input name="StaticScrollingEnable" class="form-check-input" type="checkbox" value="enabled" id="StaticScrollingEnable" onclick=foenabler(this.id)>
                                                    <strong class="form-check-label text-color" for="flexCheckDefault">
                                                        Scrolling
                                                    </strong>
                                                </div>
                                            </div>

                                            <div id="StaticScrolling">
                                                <strong class="text-color">Enter Your Ticker Message</strong>
                                                <div class="form-group">
                                                    <input class="form-control p-3" id="staticScrollingTickerMessage" placeholder="Type Message for Static Ticker"  type = "text" name="staticScrollingTickerMessage" value = ""/>
                                                    <!-- <textarea name="staticScrollingTickerMessage" class="form-control" id="staticScrollingTickerMessage" rows="4" placeholder="Type Message for Static Ticker" value=" "></textarea> -->
                                                    <!-- <label for="staticScrollingTickerMessage" class="text-muted">Type Message for Ticker</label> -->
                                                </div>
                                                <label class="text-danger" id="staticScrollingTickerMessageLabel">Please Enter Message</label>

                                                <div class="row mb-3 mt-3">
                                                    <div class="col-md-3">
                                                        <div class="form-check mb-3">
                                                            <strong class="text-color" for="favcolor">Choose Font Color</strong><br>
                                                            <label for="favcolor" class="text-muted">Pick Font Color</label>
                                                            <input name="staticScrollingFontColor" type="color" id="staticScrollingFontColor" value="#54362A">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-check mb-3">
                                                            <strong class="text-color" for="favcolor">Choose Background Color</strong><br>
                                                            <label for="favcolor" class="text-muted">Pick Background Color</label>
                                                            <input name="staticScrollingBgColor" type="color" id="staticScrollingBgColor" value="#DAD6BE">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <strong class="text-color">Font Style</strong>
                                                        <select name="staticScrollingFontType" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                            {% for items in font_style %}
                                                            <option>{{items}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <strong class="text-color">Ticker Motion</strong>
                                                        <select name="staticScrollingTickerMotion" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                            {% for items in motion %}
                                                            <option>{{items}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" name="dynamicTickerEnabler" type="checkbox" value="enabled" id="dynamicEnable" onclick="foenabler(this.id);">
                                        <strong class="form-check-label text-color" for="flexCheckDefault">
                                        Dynamic Ticker
                                        </strong>
                                    </div>

                                    <div id="dynamic">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <strong class="text-color" for="exampleFormControlFile1">upload short Video</strong>
                                                    <input name="dynamicTickerVideo" value="1" type="file" class="form-control-file" id="dynamicTickerVideo" accept=".mp4" onchange=Filevalidation(this.id)>
                                                </div>
                                                <label class="text-danger" id="dynamicTickerVideoLabel">Please upload short Video</label>
                                            </div>

                                            <div class="col-md-3">
                                                <strong class="text-color">Position BOX</strong>
                                                <select name="dynamicTickerPosition" class="form-select mb-3 mb-md-0 p-3" id="dynamicTickerPosition" onchange=fopositionbox(this.id) aria-label="Default select example">
                                                    {% for items in pos_box %}
                                                    <option>{{items}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-md-3" id="dynamicTickerLocations">
                                                <strong class="text-color">Size</strong>
                                                <select name="dynamicTickerLocation" id="dynamicTickerLocations" class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                    {% for items in location %}
                                                    <option>{{items}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-md-3">
                                                <strong class="text-color" for="favcolor">Set border Color</strong><br>
                                                <label for="favcolor" class="text-muted">Pick border Color</label>
                                                <input name="dynamicTickerBorderColor" type="color" id="dynamicTickerBorderColor" value="#DAD6BE">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <strong class="text-color">Ticker Duration</strong>
                                            <div class="form-group">
                                                <input type="number" name="mediaTickerTimeInterval" min="1" value="1" required class="form-control p-3" id="mediaTickerTimeInterval" placeholder="Enter Time Minutes" />
                                                <!-- <label for="number" class="text-muted">Enter Time Minutes</label> -->
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <strong class="text-color">Set Priority</strong>
                                            <select name="mediaTickerPriority" class="form-select p-3" id="mediaTickerPriority" onchange=foeventEnabler(this.id) aria-label="Default select example">
                                                {% for items in mediaPriority %}
                                                <option>{{items}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div id="emergency">
                                    <strong class="text-color">Ticker Title</strong>
                                    <div class="form-group ">
                                        <input class="form-control p-3" id="emergencyTickerTitle" placeholder="Enter Ticker Title (20 letters max.)"  type = "text" name="emergencyTickerTitle" value = "" maxlength = "20" />
                                        <!-- <label for="emergencyTickerTitle" class="text-muted">Enter Ticker Title <small>(20 letters max.)</small></label> -->
                                    </div>
                                    <label class="text-danger" id="emergencyTickerTitleLabel">Please Enter Title</label>

                                    <div class="row mb-3  mt-3">
                                        <div class="col-md-4">
                                            <strong class="text-color">Emergency Ticker List</strong>
                                            <select name="emergencySelecter" class="form-select mb-3 mb-md-0 p-3" onchange="foenabler(this.id);" id="emergencySelecter" aria-label="Default select example">
                                                {% for items in emergency_ticker_list %}
                                                <option>{{items}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col mt-4 justify-content-center" id="custom">
                                            <div class="form-group" id="emergency_text">
                                                <label for="emergencyTickerFile">Upload</label>
                                                <input name="emergencyTickerFile" accept=".png,.mp4" value="" type="file" class="form-control-file" id="emergencyTickerFile"></br>   
                                                <strong class="text-color">upload jpeg/png for Static Ticker | upload mp4 file for Dynamic Ticker</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                
                            <div class="tab m-3">
                                <div class="m-1" id="">
                                    <div id="">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <strong class="text-color">Room Type</strong>
                                                <select name="roomTypeSelection" multiple id="roomTypeSelection" class="form-select mb-3 mb-md-0" aria-label="Default select example" onchange="filterforkeys(this.id);">
                                                    <option>All</option>
                                                </select>
                                            </div>

                                            <div class="col-md-3">
                                                <strong class="text-color">Wings</strong>
                                                <select name="wingSelection" multiple id="wingSelection" class="form-select mb-3 mb-md-0" aria-label="Default select example" onchange="filterforkeys(this.id);">
                                                    <option>All</option>
                                                </select>
                                            </div>

                                            <div class="col-md-3">
                                                <strong class="text-color">Floor</strong>
                                                <select name="floorSelection" multiple id="floorSelection" class="form-select mb-3 mb-md-0" aria-label="Default select example" onchange="filterforkeys(this.id);">
                                                    <option>All</option>
                                                </select>
                                            </div>

                                            <div class="col-md-3">
                                                <strong class="text-color">Key</strong>
                                                <select name="roomSelection" multiple id="roomSelection" class="form-select mb-3 mb-md-0" aria-label="Default select example" onchange="filterforkeys(this.id);">
                                                    <option>All</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <div class="form-check form-switch mb-3">
                                                    <input name="scheduleEnabler" class="form-check-input form-check-input" type="checkbox" onchange="foenabler(this.id);" value="enabled" id="scheduleEnabler">
                                                    <strong class="form-check-label text-color" for="flexCheckDefault">
                                                        Schedule now 
                                                    </strong>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-check form-switch mb-3" id="scheduleLaterDiv">
                                                    <input name="scheduleEnablerLater" class="form-check-input form-check-input" type="checkbox" onchange="foenabler(this.id);" value="enabled" id="scheduleEnablerLater">
                                                    <strong class="form-check-label text-color" for="flexCheckDefault">
                                                        Schedule Later 
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3" id="occurancySection">
                                            <div class="col-md-2"> 
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="onetime" id="onetime" onchange="foenabler(this.id);" checked>
                                                    <strong class="form-check-label text-color" for="flexRadioDefault1">
                                                        One-Time
                                                    </strong>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="recurring" id="recurring" onchange="foenabler(this.id);" value="enabled">
                                                    <strong class="form-check-label text-color" for="flexRadioDefault2">
                                                        Recurring
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="dateTimeSection">
                                            <div class="col-md-4 mb-3" id="">
                                                <strong class="text-color">Start Date | Time</strong>
                                                <div class="form-group form-floating">
                                                    <input type="datetime-local" class="form-control" id="startDate" name="startDate" placeholder="Enter Date">
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-3" id="endDateSection">
                                                <strong class="text-color">End Date | Time</strong>
                                                <div class="form-group form-floating">
                                                    <input type="datetime-local" class="form-control" id="endDate" name="endDate" placeholder="Enter Date">
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-3" id="frequency">
                                                <strong class="text-color">Display in Every</strong>
                                                <select name="delay" id="delay" onchange=foeventEnabler(this.id) class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                    {% for items in frequency %}
                                                    <option class="text-color">{{items}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="mb-3" id="days">
                                                <strong class="mx-2 text-color">Days</strong>
                                                {% for items in days %}
                                                    <input class="form-check-input" type="checkbox" name="{{items}}" id="{{items}}" value="enabled" checked>
                                                    <label class="mx-2 text-color">{{items}}</label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div style="overflow:auto;" class="m-3">
                                <div style="float:right;">
                                    <button class="btn btn-outline-success my-4 m-2" type="button" id="prevBtn" onclick="nextPrev(-1);">Previous</button>
                                    <button class="btn btn-outline-success my-4 m-2" type="button" id="nextBtn" onclick="nextPrev(1);">Next</button>
                                    <button class="btn btn-outline-success my-4 m-2" type="button" id="SubForm" disabled><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Scheduling</button>
                                </div>
                            </div>


                            <!-- The Modal -->
                            <div id="notificationModal" class="modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title text-color" id="exampleModalLabel">Notification</h5>
                                        </div>
                                        <div class="modal-body" id="notification"></div>
                                        <div class="modal-footer">
                                        <a id="notificationNO" href="{% url 'createticker'%}" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">No</a>
                                        <a id="notificationOK" href="{% url 'createticker'%}" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">OK</a>
                                        <button id="notificationPopUp" type="button" class="btn btn-danger" onclick="submitCreateTickerForm()">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}