{% extends "base.html" %}
{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-5">
            <h3 class="mt-4">Preview</h3>



            <!-- <label class="m-1">Enter the Ticker ID</label>
            <div class="col-md-4">
                <div class="form-group form-floating">
                    <input type="number" class="form-control" id="number" placeholder="Ticker ID" />
                    <label for="number">Ticker ID</label>
                </div>
            </div> -->

<!-- 
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group m-3">
                    <input class="form-control border border-success" type="number" placeholder="Search Ticker ID . . ." aria-label="Search Ticker ID . . ." aria-describedby="btnNavbarSearch" value="{{ticker_id}}"/>
                    <button class="btn btn-success" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form> -->

            <section>
                <div class="rt-container">
                      <div class="col-rt-12">
                          
                        <div class="video-wrapper border border-dark border-5 rounded text-white overflow-hidden bg-dark">
                            <video autoplay loop muted>
                                <source src="/static/132435525.mp4" type="video/mp4">
                                <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video">
                            </video>
                            
                            <div class="video-descriptions">
                                <!-- <img class="img-responsive" width="100" height="100" src="pizza-PhotoRoom.png" alt="Logo" scale="0"> -->
            
                                <marquee behavior="scroll" direction="left" scrollamount="12" bgcolor="#808080" class="text-dark p-2 font-weight-bold;" style="font-size: 20px;">
                                    Air Force to begin recruitment under Agnipath scheme from June 24 as protests continue
                                    The Air Force will begin recruitment under the Agnipath scheme from June 24 even as protests continue.
                                    </marquee>
                                    <marquee behavior="scroll" direction="left" scrollamount="15" bgcolor="#0000FF	" class="" style="margin: -8px; font-size: 50px; padding: 30px;">
                                        <p class="mb-4">            
                                            The Indian Air Force is set to become the first service to kick off selection under the new Agnipath recruitment model. The process of selecting 'agniveers' will begin from June 24.

                                            In an address, Air Chief Marshal VR Chaudhari said, "Happy to announce that the upper age limit (for recruitment) has been revised to 23 years. This will benefit the youth. The recruitment process for Indian Air Force will begin on June 24."
                                            
                                            This comes amid spiralling protests over Centre's new army recruitment scheme in various part of the country, including Bihar and Uttar Pradesh.
                                            
                                            Incidentally, Covid had halted the Army's recruitment for over two years. In 2019-2020, the Army recruited jawans and there has been no entry since then.
                                            
                                            On the other hand, the Indian Navy and the Indian Air Force had both recruited in the last two years respectively.
                                            
                                            The Centre on Tuesday unveiled the Agnipath scheme - a new short-term recruitment policy for Indian youth to serve in the armed forces. The scheme will allow youngsters aged 17.5 to 21 to be inducted into any of the three services of the Army as “agniveers” for a period of four years. After protests, Centre has announced a relaxation in the upper age limit from 21 to 23 for 2022.
                                            
                                            The defence job seekers have voiced concern about their next step as, after the completion of four years, only 25 per cent of the soldiers recruited through the scheme will be retained to serve a full term. The youth recruited through the Agnipath scheme and not absorbed will be relieved without pension benefits.
                                        </p>>
                                    </marquee>
                            </div>
                            <div class="video-description">
                                    <img class="img-responsive m-1" width="85" height="85" src="/static/image/pizza-PhotoRoom.png" alt="Logo" scale="0" style="background-color:#0000FF;">
            
                                    <!-- <marquee behavior="scroll" direction="left" scrollamount="12" bgcolor="#FFFFFF" class="text-dark">
                                        IISc is top Indian university in global rankings, overtakes IITs: QS World University Rankings. The report shows that India's presence in the top 500 category is also IIT-driven. Apart from IISc, eight IITs (Delhi, Bombay, Madras, Kanpur, Kharagpur, Roorkee, Guwahati, Indore) are ranked among the top 500 globally.
                                        </marquee>
                                        <marquee behavior="scroll" direction="left" scrollamount="15" bgcolor="#F15412" class="p-2 h2 " style="margin: -5px;">
                                            {{ticker_json.main_ticker_condition}}
                                            Rising 31 places in a year, Indian Institute of Science (IISc) in Bengaluru has emerged as the highest ranked Indian institute in the 2023 edition of the QS World University rankings, pushing IIT-Bombay to the second position, followed by IIT-Delhi.
                                            Apart from IISc at 155, IIT-Bombay (IIT-B) and IIT-Delhi (IIT-D), which have risen five and 11 places to rank 172 and 174 respectively, are the only other Indian institutes in the global league of top 200, in continuation of a trend since 2017. The total number of Indian institutes among the top 1,000 globally has risen to 27 from 22.
                                            Speaking to The Indian Express, QS spokesperson William Barbieri attributed the remarkable rise of IISc, which is one of the eight public Institutes of Eminence (IoE), to improvement across four out of six parameters based on which the rankings are prepared.
                                    </marquee> -->
                            </div>
                        </div>
                        <center>
                            <div class="border border-dark border-5" style="width: 80px;"></div>
                            <div class="border border-dark border-5" style="width: 300px;"></div>
                        </center>
            
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="btn btn-info">Edit</a>
                            <a href="#" class="btn btn-danger">Delete</a>
                            <a href="{% url 'schedule'%}" class="btn btn-success">Schedule</a>
                        </div>
                          
                    </div>
                </div>
            </section>

            <!-- <div class="m-5" style="">
                <div class=""></div>
                <center>
                <div class="border border-dark border-5 rounded text-white overflow-hidden" style="height: 600px; width: 1000px;; background-color: rgba(0,0,0,255);">

                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" style="width: 100%; height: 85%;">
                        <source src="/static/image/3264418921.mp4" type="video/mp4">
                        <source src="/static/image/3264418921.mp4" type="video/ogg">
                    </video>
                    
                    <video width="400" controls style="width: 100%; height: 55vh;">
                        <source src="/static/image/Welcome to India.mp4" type="video/mp4">
                        <source src="/static/image/Welcome to India.mp4" type="video/ogg">
                    </video>
                    <div class="overflow-hidden" style="margin-top: 0px;">
                        <marquee behavior="scroll" direction="left" scrollamount="12" bgcolor="#FFFFFF" class="text-dark">
                        IISc is top Indian university in global rankings, overtakes IITs: QS World University Rankings. The report shows that India's presence in the top 500 category is also IIT-driven. Apart from IISc, eight IITs (Delhi, Bombay, Madras, Kanpur, Kharagpur, Roorkee, Guwahati, Indore) are ranked among the top 500 globally.
                        </marquee>
                        <marquee behavior="scroll" direction="left" scrollamount="15" bgcolor="#F15412" class="p-2 h2 " style="margin: -5px;">
                            {{ticker_json.main_ticker_condition}}
                            Rising 31 places in a year, Indian Institute of Science (IISc) in Bengaluru has emerged as the highest ranked Indian institute in the 2023 edition of the QS World University rankings, pushing IIT-Bombay to the second position, followed by IIT-Delhi.
                            Apart from IISc at 155, IIT-Bombay (IIT-B) and IIT-Delhi (IIT-D), which have risen five and 11 places to rank 172 and 174 respectively, are the only other Indian institutes in the global league of top 200, in continuation of a trend since 2017. The total number of Indian institutes among the top 1,000 globally has risen to 27 from 22.
                            Speaking to The Indian Express, QS spokesperson William Barbieri attributed the remarkable rise of IISc, which is one of the eight public Institutes of Eminence (IoE), to improvement across four out of six parameters based on which the rankings are prepared.
                        </marquee>

                    </div>
                </div>
                
                <div class="border border-dark border-5" style="width: 80px;"></div>
                <div class="border border-dark border-5" style="width: 300px;"></div>
                </center>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="#" class="btn btn-info">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                    <a href="{% url 'schedule'%}" class="btn btn-success">Schedule</a>
                </div>

            </div>

        </div> -->
    </main>

{% endblock %}