{% extends "base.html" %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4 mt-5">
            <div class="path my-4 text-muted fs-5 bg-white p-2 col-md-1 col-sm-3 ">  
                <div class="mx-1"><i class="fa-solid fa-bolt fs-5"></i> Active</div>
            </div>
            <div class="mb-4 bg-white rounded-border">
                <div class="card-header rounded-border tickernav-color p-3 text-white">
                    <i class="fas fa-table me-1"></i>
                    Active Ticker
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ticker Title</th>
                                <th>Rundeck ID</th>
                                <th>Execution</th>
                                <th>Successful Nodes</th>
                                <th>Failed Nodes</th>
                                <th>TV Status</th>
                                <th>iPad Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Ticker Title</th>
                                <th>Rundeck ID</th>
                                <th>Execution</th>
                                <th>Successful Nodes</th>
                                <th>Failed Nodes</th>
                                <th>TV Status</th>
                                <th>iPad Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>

                        <tbody>
                        {% for tickerData in tickerDataList %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{tickerData.ticker_title}}</td>
                            <td>{{tickerData.ticker_start_time}}</td>
                            <td>{{tickerData.ticker_end_time}}</td>
                            <td>{{tickerData.ticker_id}}</td>
                            <td>{{tickerData.ticker_type}}</td>
                            <td>{{tickerData.frequency}}</td>
                            <td>{{tickerData.ticker_priority}}</td>
                            <td>
                                <!-- <a class="text-color mx-1" href="{% url 'createticker'%}"><i class="fa-solid fa-pen-to-square"></i> Edit</a></br> -->
                                <a class="text-info mx-1" href={% url 'details' tickerData.ticker_id %}><i class="fas fa-eye"></i> Details</a></br>
                                <a class="text-danger mx-1" href="/delete/{{ tickerData.ticker_id }}"><i class="fas fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}