{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Edit Variable Value</h4>
                <form method="POST" action="{% url 'java_env_varialble' obj.id %}">
                    {% csrf_token %}
                    <h6>Key : {{obj.key}}</h6>
                    <input type="hidden"  name="key" value="{{obj.key}}">
                    <input type="text" placeholder="Enter value for environment variable" name="value" value="{{obj.value}}">
                    <button type="submit" >Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}