{% extends "pages/hotels/details.html" %}

{% load crispy_forms_tags %}

{% block hotel_menu_content %}
       
<h3>Edit Hotel Language</h3>         

<div class="row">
    <div class="col-md-4">
      <form method="POST" enctype="multipart/form-data" action="{% url 'hotel_language_edit' hotel.id language.id %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save" class="btn btn-primary">
      </form>
    </div>
  </div>
       
       
{% endblock hotel_menu_content %}    