{% load static i18n %}
<!-- The sidebar -->
<div class="sidebar nav navbar-nav">
  <a class="{% if request.resolver_match.url_name == "ipad_profiles_list" %}active{% endif %}" href="{% url 'ipad_profiles_list' hotel.id %}"><i class="fa fa-fw fa-user"></i> iPad Profiles</a>
  <a class="{% if request.resolver_match.url_name == "fqdns" %}active{% endif %}" href="{% url 'fqdns' hotel.id %}"><i class="far fa-compass"></i> FQDNs</a>
  <a class="{% if request.resolver_match.url_name == "java_configs_list" %}active{% endif %}" href="{% url 'java_configs_list' hotel.id %}"><i class="fas fa-cogs"></i> Service Configuration</a>
  <a class="{% if request.resolver_match.url_name == "hotel_language_code_list" %}active{% endif %}" href="{% url 'hotel_language_code_list' hotel.id %}"><i class="fas fa-flag-checkered"></i> Hotel Language Codes</a>
  <a class="{% if request.resolver_match.url_name == "hotel_language_list" %}active{% endif %}" href="{% url 'hotel_language_list' hotel.id %}"><i class="fas fa-flag-checkered"></i> Hotel Language</a>
  <a class="{% if request.resolver_match.url_name == "hotel_image_list" %}active{% endif %}" href="{% url 'hotel_image_list' hotel.id %}"><i class="fas fa-image"></i> Hotel Icons</a>
  <a class="{% if request.resolver_match.url_name == "splash_image_list" %}active{% endif %}" href="{% url 'splash_image_list' hotel.id %}"><i class="fas fa-image"></i> Splash Images</a>
  <a class="{% if request.resolver_match.url_name == "hotel_airportdetail_list" %}active{% endif %}" href="{% url 'hotel_airportdetail_list' hotel.id %}"><i class="fas fa-image"></i> Hotel Airport Details</a>
  <a class="{% if request.resolver_match.url_name == "hotel_staticcontent_list" %}active{% endif %}" href="{% url 'hotel_staticcontent_list' hotel.id %}"><i class="fas fa-image"></i> Static Content</a>
  <a class="{% if request.resolver_match.url_name == "publish_queue" %}active{% endif %}" href="{% url 'publish_queue' hotel.id %}"><i class="fas fa-cogs"></i> Publish Status</a>
</div>
