{% extends "pages/index.html" %}


{% block menu %}
    {% include 'pages/header2.html' %}
{% endblock menu %}

{% block app_content %}

<h2>DigiValet Hotels</h2>

<div class="row">

    <div class="col-md-8">
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <th>Name</th>
                <th>Code</th>
                <th>Hotel ID</th>
                <th>Actions</th>
            </thead>
            <tbody class="">
                {% for hotel in hotels %}
                <tr>
                    <td>{{hotel.name}}</td>
                    <td>{{hotel.hotel_code}}</td>
                    <td>{{hotel.hotel_id}}</td>
                    <td><a href="{% url 'hotel_details' hotel.id %}"><i class="fa fa-eye" aria-hidden="true"></i> View </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
            {% if perms.ipad_config.add_hotel %}
            <a href="{% url 'add_hotel' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add Hotel</a>
            {% endif %}
            </div>
        </div>

        <hr>
    </div>
</div>  

<div class="row">
    <div class="col-md-12">
    {% include 'pages/hotels/queue.html' with items=upload_queues%}
    </div>
</div>




{% endblock %}