{% extends "pages/hotels/details.html" %}


{% block hotel_menu_content%}

<h2>Publish Queue</h2>

<div class="row">

    <div class="col-md-12">
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <th>Status</th>
                <th>Profile</th>
                <th>Reason to publish</th>
                <th>Error</th>
                <th>User</th>
                <th>Created On</th>
                <th>Changes</th>
            </thead>
            <tbody>
                {% for q in queue %}
                <tr>
                    <td>{{q.state}}</td>
                    <td>{{q.room_type.name}}</td>
                    <td>{{q.message}}</td>
                    <td>{{q.error}}</td>
                    <td>{{q.created_by}}</td>
                    <td>{{q.created_on}}</td>
                    <td><a  href="{% url 'show_publish_changes' hotel.id q.id %}" class="btn btn-primary">Show</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    AutoRefresh(10000);
</script>

{% endblock %}
