{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <form method="POST" action="{% url 'import_java_config_json' %}" enctype="multipart/form-data">
            {% csrf_token %} 
            <lable>Theme </lable>
            <select name="hotel">
                {% for hotel in hotels%}
                    <option value={{hotel.id}}>{{hotel.name}}</option>
                {% endfor %}
            </select>
            </br>
            <input type="file" class="btn" name="java_cofig_json" />
            <button type="submit" class="btn btn-success">Import</button>
        </form>
    </div>
</div>

{% endblock content %}
