{% extends "pages/hotels/ipad_profiles/profile_details.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block hotel_menu_content %}

  <h3>Edit Features Image</h3>

  <div class="row">
    <div class="col-md-4">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
              integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
            integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous"/>
      <form method="POST" enctype="multipart/form-data"
            action= {% if feature_image %}
                      "{% url 'main_feature_image_edit' hotel.id profile.id feature.main_feature_id feature_image.id %}"
                    {% else %}
                      "{% url 'main_feature_image_add' hotel.id profile.id feature.main_feature_id %}"
                    {% endif %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="main_feature" value="{{ feature.main_feature_id }}" id="id_main_feature">


        <div style="display:block; background-color:lightgray ; margin-bottom: 10px; height: 60px; width: 60px; background-position: center">
          <img style="margin-top: 5px; margin-left: 5px" height="50" width="50" id="imageToSwap" src=""/>
        </div>

        <select id="select-state" placeholder="or pick an image..." onChange="swapImage()" name="image_name">
          <option value=""></option>
          {% for image_name in images_list %}
            <option value="{{ image_name }}">
              {{ image_name }}
            </option>
          {% endfor %}
        </select>
        <button type="button" class="btn badge-danger" onclick="clearSelected()"  style="margin-top: 10px">Clear</button>


        <input type="submit" value="Save" class="btn btn-primary" style="margin-top: 10px">
      </form>
    </div>
  </div>
  <script type="application/javascript">
    $(document).ready(function () {
      $('select').selectize({
        sortField: 'text'
      });
    });
    $('input[type="file"]').change(function (e) {
      const fileName = e.target.files[0].name;
      $('.custom-file-label').html(fileName);
    });

    function swapImage() {
      var image = document.getElementById("imageToSwap");
      var dropd = document.getElementById("select-state").value;
      image.src = "{{ MEDIA_URL }}{{profile.theme.path}}/setting_images/images/" + dropd;
    }
    function clearSelected(){
      $('#select-state')[0].selectize.clear();
      $("#id_asset").val(null);
      $('.custom-file-label').html("Choose file");
    }
  </script>

{% endblock hotel_menu_content %}

