{% extends "pages/hotels/ipad_profiles/profile_details.html" %}

{% block hotel_menu_content %}
        <div class="row">
            <div class="col-md-10">
                <h3>{{feature.name}} Icons</h3>
                {% if perms.ipad_config.add_featureimages %}
                   <a class="btn btn-primary float-right" href="{% url 'main_feature_image_add' hotel.id profile.id feature.main_feature_id %}"><i class="fas fa-plus"></i> Add</a>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <table class="table table-sm table-striped">
                    <thead class="thead-dark">
                        <th>Icon Type</th>
                        <th>Icon name</th>
                        <th>Icon</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for image in feature_images %}
                            <tr>
                                <td>{{image.icon_tag}}</td>
                                <td>{{image.setting_images.filename}}</td>

                                {% comment %} <td><img height="42" width="42" src="{{image.setting_images.assetName.url}}" alt="{{image.setting_images.assetName}}" /></td> {% endcomment %}
                                <td><img height="42" width="42" src="{{ MEDIA_URL }}{{profile.theme.path}}/setting_images/images/{{image.setting_images.filename}}" alt="{{profile.theme.path}}/setting_images/images/{{image.setting_images.filename}}" /></td>
                                <td><a href="{% url 'main_feature_image_edit' hotel.id profile.id feature.main_feature_id image.id %}">Edit </a></td>
                                <td>    <a class="confirm-delete" href="{% url 'delete_main_feature_image' feature.main_feature_id image.id %}">Delete </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addFeatureImageLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form method="POST" enctype="multipart/form-data" action="{% url 'main_feature_image_add' hotel.id profile.id feature.main_feature_id%}" >
        {% csrf_token %}

      <div class="modal-header">
        <h5 class="modal-title" id="addFeatureImageLabel">
            Add Main Feature Images
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{form.as_p}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" title="Your custom upload logic">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>

{% endblock hotel_menu_content %}

