{% extends "pages/hotels/ipad_profiles/profile_details.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block hotel_menu_content %}

  <h3>Edit Hotel Service</h3>

  <div class="row">
    <div class="col-md-4">
      <form method="POST" enctype="multipart/form-data"
            action="{% url 'hotel_services_edit' profile.id hotel_service.id %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save" class="btn btn-primary">
      </form>
    </div>
  </div>
  <script type="application/javascript">
    $('input[type="file"]').change(function (e) {
      const fileName = e.target.files[0].name;
      $('.custom-file-label').html(fileName);
    });
  </script>


{% endblock hotel_menu_content %}
