{% extends "pages/hotels/details.html" %}

{% block hotel_menu_content %}
  {% if perms.ipad_config.view_ipad_base_model %}
    <h2>
      iPad Profiles
    </h2>

    <div class="row">
      <div class="col-md-8">
        <table class="table table-sm table-striped">
          <thead class="thead-dark">
          <th>Name</th>
          <th>Theme</th>
          <th colspan="5">
            <center>Actions</center>
          </th>
          </thead>
          <tbody>
          {% for profile in profiles %}
            <tr>
              <td>{{ profile.name }}</td>
              <td><a href="{% url 'setting_assets_list' profile.theme.id %}"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i> {{ profile.theme }}
              </a>
              </td>
              <td>
                <a href="{% url 'export_ipad_configuration' profile.id %}"><i class="fas fa-upload"></i> Publish</a>
              </td>
              <td><a href="{% url 'ipad_profile_view' hotel.id profile.id %}"><i class="fa fa-eye"
                                                                                 aria-hidden="true"></i>
                View</a></td>
              <td><a href="{% url 'ipad_profile_edit' hotel.id profile.id %}"><i class="fas fa-pencil-alt"></i> Edit</a>
              </td>
              <td>

                <form method="post" action="{% url 'ipad_profile_export' hotel.id profile.id %}"
                      style="border: 1px solid; padding: 10px; box-sizing: border-box">
                  {% csrf_token %}
                  <!--Using multiple to select multiple value-->

                  <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">select
                  </button>

                  <div class="dropdown-menu">
                    <a class="dropdown-item">
                      <!-- Default unchecked -->
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="main_feature"
                               id="{{ profile.name }}_checkbox1" name="tables">
                        <label class="custom-control-label" for="{{ profile.name }}_checkbox1">Main Feature</label>
                      </div>
                    </a>
                    <a class="dropdown-item" href="#">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="feature_setting"
                               id="{{ profile.name }}_checkbox2" name="tables">
                        <label class="custom-control-label" for="{{ profile.name }}_checkbox2">Feature Setting</label>
                      </div>
                    </a>
                    <a class="dropdown-item" href="#">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="common_setting"
                               id="{{ profile.name }}_checkbox3" name="tables">
                        <label class="custom-control-label" for="{{ profile.name }}_checkbox3">Common Setting</label>
                      </div>
                    </a>

                    <a class="dropdown-item" href="#">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="home_feature"
                               id="{{ profile.name }}_checkbox4" name="tables">
                        <label class="custom-control-label" for="{{ profile.name }}_checkbox4">Home Feature</label>
                      </div>
                    </a>

                    <a class="dropdown-item" href="#">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="hotel_language_code"
                               id="{{ profile.name }}_checkbox5" name="tables">
                        <label class="custom-control-label" for="{{ profile.name }}_checkbox5">Hotel Language
                          Code</label>
                      </div>
                    </a>

                    <a class="dropdown-item" href="#">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="hotel_languages"
                               id="{{ profile.name }}_checkbox6" name="tables">
                        <label class="custom-control-label" for="{{ profile.name }}_checkbox6">Hotel Languages</label>
                      </div>
                    </a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'export_sqlite' hotel.id|stringformat:"s"|add:"/settings.sqlite" %}">
                      Settings sqlite - previous publish
                    </a>
                    <a class="dropdown-item" href="{% url 'export_sqlite' hotel.id|stringformat:"s"|add:"/language.sqlite" %}">
                      Language sqlite - previous publish
                    </a>
                  </div>


                  <button type="submit" class="btn btn-primary"><i class="fas fa-file-export"></i> Export</button>

                </form>

              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        {% if profiles.has_other_pages %}
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if profiles.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ profiles.previous_page_number }}">Previous</a>
                </li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="#">
                Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}.
              </a></li>
              {% if profiles.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ profiles.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ profiles.paginator.num_pages }}">Last</a></li>
              {% endif %}

            </ul>
          </nav>
        {% endif %}
      </div>
      <div class="col-md-4">
        {% if perms.ipad_config.add_roomtype %}
          <a class="btn btn-primary" href="{% url 'ipad_profile_add' hotel.id %}"><i class="fas fa-plus"></i> Add
            Profile</a>
        {% endif %}
      </div>
    </div>
    <script>

      $('.custom-control').on('click', function (event) {
        event.stopPropagation();
      });
    </script>


  {% endif %}
{% endblock hotel_menu_content %}
