<table class="table table-sm table-striped sortable">
    <thead class="thead-dark">
        <th>Name</th>
        <th>Parent</th>
        <th>Feature</th>
        <th>Feature Images</th>
        <th>Sub-Feature</th>
        <th>Has Sub-Category</th>
        <th>Position</th>
        <th>Settings</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for feature in main_features %}
            <tr>
                <td>{{feature.name}}</td>
                <td>{% if feature.parent_id  %}{{feature.parent_id}}{% endif %}</td>
                <td>{{feature.feature}}</td>
                <td><a href="{{feature.main_feature_id}}/images">Images</a></td>
                <td>{% if feature.sub_feature %}{{feature.sub_feature}}{% endif %}</td>
                <td>{% if feature.contains_subcategory == 1 %}Yes{% else %}No{% endif %}</td>
                <td>{{feature.position}}</td>
                <td><a href="{{feature.main_feature_id}}/settings">Settings</a></td>
                <td><a href="{{feature.main_feature_id}}/edit">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
