<table class="table">
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td><a href="{% url 'edit_profile' profile_id=profile.id %}">{{profile.name}}</a></td>
            <td><a href="{% url 'feature_ordering' profile_id=profile.id %}">Feature Config</a></td>
            <td><a href="{% url 'feature_ordering' profile_id=profile.id %}">Home Features</a></td>
            <td><a href="{% url 'splash_images' profile_id=profile.id %}">Splash Images</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>