{% extends "base.html" %}

{% block content %}
    

<div class="row">
    <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
                <h4>Edit Name</h4>
                <form method="POST" action="{% url 'edit_profile' profile.id %}">
                    {% csrf_token %}
                    <input type="text" placeholder="Enter Profile Name (Without spaces)" name="name" value="{{profile.name}}">
                    <button type="submit" >Save</button>
                </form>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn" href="{% url 'download' profile.name %}">settings.sqlite</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn" target="_blank" href="{% url 'assets_json' profile.name %}">Assets</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn" href="{% url 'export_ipad_configuration' profile.name %}">Export</a>
                </div>
            </div>

            


        </div>
    </div>
    
    
    <div class="col-md-8">
        <table class="table">
        <tr>
        <td>
        <form method="POST" action="{% url 'import_main_features' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{profile.id}}" name="profile_type" />
            <span class="label">Main Features json: <input type="file" name="main_features_json" /></span>
            <button type="submit" class="btn btn-success">Import</button>
        </form>
        </td>
        </tr>
        <tr>
        <td>
        <form method="POST" action="{% url 'import_features_setting' %}" enctype="multipart/form-data">
            {% csrf_token %} 
            <input type="hidden" value="{{profile.id}}" name="profile_type" />
            <span class="label">Features Seeting json: <input type="file" name="features_setting_json" /></span>
            <button type="submit" class="btn btn-success">Import</button>
        </form>
        </td>
        </tr>
        <tr>
        <td>
        <form method="POST" action="{% url 'import_common_settings' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{profile.id}}" name="profile_type" />
            <span class="label">Common Settings json: <input type="file" name="common_settings_json" /></span>
            <button type="submit" class="btn btn-success">Import</button>
        </form>
        </td>
        </tr>
        <tr>
        <td>
        <form method="POST" action="{% url 'import_home_features' %}" enctype="multipart/form-data">
            {% csrf_token %} 
            <input type="hidden" value="{{profile.id}}" name="profile_type" />
            <span class="label">Home Settings json: <input type="file" name="home_features_json" /></span>
            <button type="submit" class="btn btn-success">Import</button>
        </form>
        </td>
        </tr>
        <tr>
        <td>
        <form method="POST" action="{% url 'import_asset_json' %}" enctype="multipart/form-data">
            {% csrf_token %} 
            <input type="hidden" value="{{profile.id}}" name="profile_type" />
            <span class="label">Setting Images json: <input type="file" name="setting_asset_json" /></span>
            <button type="submit" class="btn btn-success">Import</button>
        </form>
        </td>
        </tr>
        </table>
    </div>

</div>


{% endblock %}