<form method="GET" action="{% url search_view hotel_id %}" >
    <div class="row form-inline">
        <div class="col-md-12">
            <hr>
            <select id="module" name="module" class="form-control" >
                <option value="">-- Select --</option>
                {% for module in modules|dictsort:'module' %}
                    <option value="{{module.module}}">{{module.module}}</option>
                {% endfor %}
            </select>
            <input type="text" class="form-control" autofocus id="search_text" name="search_text" >
            <button type="submit" class="btn btn-primary form-control"><i class="fas fa-search"></i> Search</button>

            {% if perms.ipad_config.change_javaconfig %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-file-import"></i> Import
            </button>
            {% endif %}

            {% if perms.ipad_config.can_bulk_unsync %}
                <a  href="{% url 'unsync_java_configs' hotel_id %}" class="btn btn-primary">Unsync All</a>
            {% endif %}

            {% if changes_show and perms.ipad_config.change_javaconfig %}
                <a  href="{% url 'show_import_changes' hotel_id %}" class="btn btn-primary">Changes</a>
                <a  href="{% url 'sync_from_default' hotel_id %}" class="btn btn-primary">Sync from default</a>
            {% endif %}
            <a  href="{% url 'export_java_config' hotel_id %}" class="btn btn-primary">Export</a>


            {% if perms.ipad_config.add_javaconfig %}
            <a class="btn btn-primary float-right" href="add"><i class="fas fa-plus"></i> Add</a>
            {% endif %}
            <hr>
        </div>
    </div>
</form>
<script>
var urlParams = new URLSearchParams(window.location.search);
document.getElementById('search_text').value = urlParams.get('search_text');
if (null != urlParams.get('module')){
    document.getElementById('module').value = urlParams.get('module');
}
</script>
