{% extends "pages/index.html" %}


{% block menu %}
    {% include 'pages/header2.html' %}
{% endblock menu %}


{% load crispy_forms_tags %}

{% block app_content %}

<h3>Edit DV Language</h3>

<div class="row">
    <div class="col-md-4">
      <form method="POST" enctype="multipart/form-data" action="{% url 'dv_language_edit' dvlanguage.id %}">
        {% csrf_token %}
        {{ language_form|crispy }}
        <input type="submit" value="Save" class="btn btn-primary">
      </form>
    </div>
  </div>


{% endblock app_content %}
