{% load static i18n %}
<!-- The sidebar -->
<div class="sidebar">
  <a class="{% if request.resolver_match.url_name == "theme_home" %}active{% endif %}" href="{% url 'theme_home' %}"><i class="fas fa-image"></i> Themes</a>
  <a class="{% if request.resolver_match.url_name == "index" %}active{% endif %}" href="{% url 'index' %}" class="{% if request.resolver_match.url_name == "hotels" %}active{% endif %}"><i class="far fa-building"></i> DigiValet Hotels</a>
  <hr>  
  <a class="{% if request.resolver_match.url_name == "import_language_seed" %}active{% endif %}" href="{% url 'import_language_seed' %}"><i class="fas fa-flag-checkered"></i> Language</a>
  <a class="{% if request.resolver_match.url_name == "airlines" %}active{% endif %}" href="{% url 'airlines' %}"><i class="fas fa-flag-checkered"></i> Airlines</a>
  <a class="{% if request.resolver_match.url_name == "airport_detail_list" %}active{% endif %}" href="{% url 'airport_detail_list' %}"><i class="fas fa-flag-checkered"></i> Airport Details</a>
  
  <a class="{% if request.resolver_match.url_name == "shortcuts" %}active{% endif %}" href="{% url 'shortcuts' %}"><i class="fas fa-route"></i> Shortcuts</a>

</div>